.imgcart {
    width: 15%;
    img {
        width: 100%;
        height: auto;
    }
}
.my-table {
    th,
    td {
        text-align: center;
    }
    td {
        vertical-align: middle;
    }
}
